.breadcrumb-nav {
  padding: 10px 0;
}

.breadcrumb-nav .breadcrumb-list {
  display: flex;
  align-items: center;
}

.breadcrumb-nav .breadcrumb-list .breadcrumb-link {
  color: var(--card-color);
  font-size: 15px;
  line-height: 1;
  padding: 10px 0;
  padding-right: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.breadcrumb-nav
  .breadcrumb-list
  .breadcrumb-item:not(:last-child)
  .breadcrumb-link {
  color: #000 !important;
}

.breadcrumb-nav
  .breadcrumb-list
  .breadcrumb-item:not(:last-child)
  .breadcrumb-link::after {
/*  content: "\2B9E";*/
  content: "\27A4";
  color: var(--card-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
}

.breadcrumb-nav
  .breadcrumb-list
  .breadcrumb-item:not(:first-child)
  .breadcrumb-link {
  padding-left: 4px;
}
