.cart-table th {
    text-align: left;
}

.cart-table thead {
    background-color: var(--card-color);
    color: var(--base-color);
    border: 1px solid var(--card-color);
}

.cart-table th,
.cart-table td {
    padding: 8px 12px;
    font-size: 18px;
}

.cart-table tbody tr:not(:only-child):not(:last-child) {
    border-bottom: 1px solid var(--card-color);
}

.cart-table tbody tr td:first-child {
    border-left: 1px solid var(--card-color);
}

.cart-table tbody tr td:not(:last-child) {
    border-right: 1px solid var(--card-color);
}

.cart-table tbody tr td:last-child {
    border-right: 1px solid var(--card-color);
}

.cart-table tfoot {
    border-top: 1px solid var(--card-color);
}

.cart-table tfoot td:last-child,
.cart-table tfoot td:nth-last-child(2) {
    border: 1px solid var(--card-color);
    border-width: 0 1px 1px 1px;
}

.cart-table tbody tr td .product-detail{
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-table tbody tr td .product-detail .img-container{
    max-width: 110px;
}

.cart-table tbody tr td .product-detail .img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-table tbody tr td .product-detail .product-name,
.cart-table tbody tr td .product-category{
    color: var(--card-color);
    font-weight: 500;
}

.cart-table tbody tr td .product-quantity{
    display: flex;
    align-items: center;
}

.cart-table tbody tr td .product-quantity > *{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-table tbody tr td .product-quantity .btn{
    background-color: var(--card-color);
    border: 1px solid var(--card-color);
}

.cart-table tbody tr td .product-quantity .btn.minus{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cart-table tbody tr td .product-quantity .btn.plus{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cart-table tbody tr td .product-quantity .btn svg{
    fill: var(--base-color);
}

.cart-table tbody tr td .product-quantity input{
    border: 1px solid var(--card-color);
    border-width: 1px 0 1px 0;
}

.cart-table tbody tr td .remove-btn{
    height: 35px;
    width: 35px;
}

.cart-table tbody tr td .remove-btn svg{
    height: 100%;
    width: 100%;
    fill: var(--card-color);
}

.empty-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.empty-cart-container .icon-container{
    height: 120px;
    width: 120px;
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.empty-cart-container .icon-container svg{
    width: 50%;
    height: auto;
    fill: var(--base-color)
}

.empty-cart-container .info-text{
    font-size: 28px;
    font-weight: 500;
}

.empty-cart-container .go-to-shopping{
    background-color: var(--card-color);
    color: var(--base-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 17px;
}