.dashboard-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
    gap: 20px
}

.dashboard-card-container .card{
    border-radius: 15px;
    background: var(--card-color);
    box-shadow: 
       0 4px 8px #00000085;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    overflow: hidden;
}

.dashboard-card-container .card .data-col{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-row: 1;
    grid-column: 2;
    padding: 15px 15px 0 0;
}

.dashboard-card-container .card .data-col .num{
    font-size: 38px;
    font-weight: 600;
    color: var(--base-color);
}

.dashboard-card-container .card .data-col .label-text{
    font-size: 25px;
    color: var(--base-color);
}

.dashboard-card-container .card .icon-container{
    display: flex;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    align-items: center;
}

.dashboard-card-container .card .icon-container svg{
    height: 45%;
    width: 45%;
    fill: var(--base-color);
}

.dashboard-card-container .card .more-info{
    color: var(--base-color);
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    background-color: #5B996E;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / span 2;
}

.dashboard-grid-container{
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;

}

@media (min-width: 1370px){
    .dashboard-grid-container{
        grid-template-columns: repeat(2,auto);
        padding-bottom: 0;
    }
}