.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.main-navigation.admin-nav{
    width: calc(100% - 300px);
    margin-left: auto;
}

.main-navigation .nav-list {
    display: flex;
    align-items: center;
}

.main-navigation .nav-link {
    padding: 10px 15px;
    font-size: 18px;
    display: flex;
}


.main-navigation .nav-link.active {
    color: var(--card-color);
    font-weight: 700;
}

.cart,
.notify-btn {
    position: relative;
}

.cart .cart-items-num,
.notify-btn .notify-num {
    position: absolute;
    border-radius: 50%;
    color: var(--base-color);
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 1;
}

.notify-btn .notify-num{
    height: 18px;
    width: 18px;
    padding: 5px;
    top: -6px;
    right: -6px;
    border: 1px solid var(--base-color);
    font-size: 11px;
}

.cart .cart-items-num {
    height: 18px;
    width: 18px;
    padding: 5px;
    top: 0;
    right: 0;
}

.login-btn,
.user-btn {
    min-width: 80px;
}

.login-btn .icon-container,
.notify-btn .icon-container {
    height: 25px;
    width: 25px;
}

.login-btn .icon-container svg,
.notify-btn .icon-container svg {
    width: 100%;
    height: 100%;
}

.login-btn .icon-container svg {
    fill: var(--card-color);
}

.user-btn .icon-container {
    height: 12px;
    width: 12px;
}

.user-btn .icon-container svg {
    height: 100%;
    width: 100%;
}

.user-btn .img-container {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-btn .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-btn .user-name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-btn {
    position: relative;
}

.notify-btn .dropdown-list{
    display: none;
}

.user-btn:hover .dropdown-list,
.notify-btn:hover .dropdown-list {
    display: table;
}

.user-btn .dropdown-list,
.notify-btn .dropdown-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 5px;
    display: none;
    width: 100%;
    z-index: 20;
    box-shadow: 6px 5px 16px 1px #7a7a60;
}

.notify-btn .dropdown-list .header-text{
    padding: 8px 10px;
    background-color: var(--base-color);
    text-align: left;
    color: var(--base-color);
    background-color: var(--card-color);
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    line-height: 1;
}

.notify-btn .dropdown-list {
    min-width: 220px;
    height: 250px;
    overflow-y: auto;
    background-color: var(--base-color);
    left: 50%;
    transform: translateX(-50%);
}

.notify-btn .dropdown-list .dropdown-item:not(:last-child){
    border-bottom: 2px solid #b7c278;
}

.notify-btn .dropdown-list .dropdown-item .dropdown-link{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 7px;
}

.notify-btn .dropdown-list .dropdown-item .dropdown-link .icon-container{
    height: 15px;
    width: 15px;
}

.notify-btn .dropdown-list .dropdown-item .dropdown-link .icon-container svg{
    height: 100%;
    width: 100%;
    fill: var(--card-color);
}

.user-btn .dropdown-list:hover,
.notify-btn .dropdown-list:hover {
    display: table;
}


.user-btn .dropdown-list .dropdown-item,
.notify-btn .dropdown-list .dropdown-item {
    padding: 6px 10px;
    background-color: var(--base-color);
    text-align: left;
}

.user-btn .dropdown-list .dropdown-item:first-child,
.notify-btn .dropdown-list .dropdown-item:first-child {
    border-radius: 5px 5px 0 0;
}

.user-btn .dropdown-list .dropdown-item:last-child,
.notify-btn .dropdown-list .dropdown-item:last-child {
    border-radius: 0 0 5px 5px;
}

.user-btn .dropdown-list .dropdown-item:hover,
.notify-btn .dropdown-list .dropdown-item:hover {
    background-color: #ccd791;
}