.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation .nav-list {
    display: flex;
    align-items: center;
}

.main-navigation .nav-link {
    padding: 10px 15px;
    font-size: 18px;
}


.main-navigation .nav-link.active{
    color: var(--card-color);
    font-weight: 700; 
}

.cart {
    position: relative;
}

.cart .cart-items-num {
    position: absolute;
    height: 18px;
    width: 18px;
    padding: 5px;
    border-radius: 50%;
    color: var(--base-color);
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 1;
    top: calc(-100% + calc(100% + 20px));
    right: -100%;
}