.notification-list {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
}

.notification-list .notification {
    background: var(--base-color);
    padding: 20px;
    box-shadow: 6px 5px 16px 1px #7a7a60;
    border-radius: 10px;
    position: relative;
    font-size: 17px;
    overflow: hidden;
}

.notification-list .notification.success {
    border: 2px solid var(--card-color);
}

.notification-list .notification.error {
    border: 2px solid #b82317;
}

.notification-list .notification.success::after,
.notification-list .notification.error::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    top: 0;
}

.notification-list .notification.success::after {
    background-color: var(--card-color);
}

.notification-list .notification.error::after {
    background-color: #b82317;
}