@tailwind base;
@tailwind components;
@tailwind utilities;

.main-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation .nav-list{
  display: flex;
  padding: 10px 0;
}

.main-navigation .nav-link{
  padding: 10px 15px;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
  gap: 10px;
}

.product-card{
  background: #b4b4b4;
  border-radius: 8px;
  overflow: hidden;
}

.product-card .img-container{
  max-height: 320px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card .product-details{
  padding: 10px 15px;
}

.product-card .img-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

